section {
    /* width: 90vh; */
    max-width: 1150px;
    margin: auto;
}

footer {
    max-width: 1080px;
    margin: auto;

}

.top {
    height: fit-content;
}

.read-more2,
.read-more1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.read-more1 .read__text,
.read-more1 .read__title,
.read-more2 .read__text,
.read-more2 .read__title {
    margin: 0 15px;
}

.top__inner {
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}

.top__img {
    width: 480px;
    height: 400px;

    border-radius: 20px;
}

.text-top {
    width: 480px;
    color: #fff;
    line-height: 1.5;
}

.top__title {
    font-size: 3em;
    line-height: normal;
}

.top__user-actions {
    margin: 15px auto;
    align-items: center;
    text-align: center;
    display: flex;
}

.simple__button {
    width: 176px;
    color: #02439b;
    font-size: 20px;
    font-weight: 600;
}

/* #blue__button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px 35px;
    border: #02439b solid 0.15em;
    border-radius: 0.25em;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

/* #blue__button p {
    z-index: 1;
  } 

#blue__button:hover {
    color: #212121;
}

#blue__button:active {
    border-color: #02439b;
}

#blue__button::after,
.button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #02439b;
    opacity: 70%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

#blue__button::before {
    left: 0;
    transform: translateX(-8em);
}

#blue__button::after {
    right: 0;
    transform: translateX(8em);
}

#blue__button:hover:before {
    transform: translateX(-1em);
}

#blue__button:hover:after {
    transform: translateX(1em);
}

#blue__button:active:before,
#blue__button:active:after {
    background: #02439b;
} */

.blue__button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px 35px;
    border: #02439b solid 0.15em;
    border-radius: 0.25em;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.blue__button p {
    z-index: 1;
}

.blue__button:hover {
    color: #032d67;
}

.blue__button:active {
    border-color: #02439b;
}

.blue__button::after,
.blue__button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #02439b;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.blue__button::before {
    left: 0;
    transform: translateX(-8em);
}

.blue__button::after {
    right: 0;
    transform: translateX(8em);
}

.blue__button:hover:before {
    transform: translateX(-1em);
}

.blue__button:hover:after {
    transform: translateX(1em);
}

.blue__button:active:before,
.blue__button:active:after {
    background: #02439b;
}

.read__inner {
    align-items: center;
    margin: 7% 0;
    /* margin-top: 20px;
    margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
}

.read__img {
    width: 480px;
    height: 400px;

    border-radius: 20px;
}

.text-read {
    width: 480px;
    color: #fff;
    line-height: 1.5;
}

.read__title {
    font-size: 46px;
    line-height: normal;
}

.read__text,
.top__text {
    font-weight: 300;
}

hr {
    margin-top: 7%;
}

@media(max-width:1000px) {

    .top__inner,
    .read__inner {
        max-width: 950px;
        /* width: 100%; */
        /* display: block; */
        margin: 0 auto;
    }

    .top__img,
    .read__img {
        max-width: 500px;
        width: 50%;
        height: fit-content;
    }

    .left {
        width: 50%;
        max-width: 450px;
    }

    .text-read,
    .text-top {

        width: 100%;
        height: fit-content;
    }

    .top__text,
    .read__text {
        font-size: auto;
    }

    .top__title,
    .read__title {
        font-size: 55px;
    }

    .blue__button,
    .simple__button {
        /* color: white; */

        font-size: 15px;
        margin: 0 auto;
    }

    .blue__button {
        padding: 10px 27px;
    }

    .top__user-actions {
        height: 50px;
        justify-content: space-between;
    }

    .top {
        height: fit-content;
    }
}


@media(max-width:800px) {
    .top__title{font-size: 35px;}
    .top__text{font-size: 15px;}
    .blue__button {
        width: 70px;
        text-align: center;
        padding: 8px 18px;
    }
    .blue__button,
    .simple__button {
        color: #fff;

        text-align: center;
        font-size: 12px;
    }
}

@media(max-width:560px) {

    .top__inner {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .top__img {
        max-width: 540px;
        width: 100%;
        height: fit-content;
    }

    .blue__button,
    .simple__button {
        /* color: white; */

        font-size: 15px;
        margin: 0 auto;
    }

    .blue__button {
        width: 79px;
        padding: 10px 27px;
    }
    .left {
        margin: 0 auto;
        width: auto;
    }


    .text-top {
        max-width: 540px;
        width: 100%;
        height: fit-content;
    }

    .top__text {

        font-size: 15px;
    }

    .top__title {
        font-size: 40px;
    }

    .read__text {
        font-size: 15px;
    }

    .read__title {
        font-size: 30px;
    }
/* 
    .blue__button,
    .simple__button {
        color: white;

        font-size: 15px;
        margin: 0 auto;
    }

    .blue__button {
        padding: 10px 27px;
    }

    .top__user-actions {
        height: 50px;
        justify-content: space-between;
    } */

    .top {
        height: fit-content;
    }
}