html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    /* font-family: "Cormorant", serif; */
    font-family: "Open Sans", sans-serif;

    background: url('../img/bg1.png') no-repeat fixed,
        url('../img/bg2.png') no-repeat fixed,
        url('../img/bg1.png') no-repeat fixed;
    background-size: cover, cover, cover;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
}

.logo {
    margin-bottom: 35px;    

    width: 32px;
    height: 32px;

    /* margin: 0; */
    padding: 15px;
    padding-right: 5px;

    border-radius: 13px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
}