<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tasks.css">
    <title>ToDoApp</title>

</head>
<body>
<header>
    <div class="logo-section">
        <img src="/img/logo2.png" alt="Logo">
        <h1>ToDoApp</h1>
        <div class="badge">
            v1.5
            <span></span>
        </div>
    </div>
    <button class="menu-btn">☰</button>
</header>

<div class="sidebar">
    <div class="sidebar-buttons">
        <a href="/user" class="sidebar-btn">Account</a>
        <a href="/tasks" class="sidebar-btn">Home</a>
        <a href="https://google.com" class="sidebar-btn">Download</a>
    </div>
</div>

<main class="main-content">
    <div class="action-buttons">
        <div class="sort-section">
            <button class="sort-btn">
                Sort by
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-users-round"
                >
                    <path d="m3 16 4 4 4-4"></path>
                    <path d="M7 20V4"></path>
                    <path d="m21 8-4-4-4 4"></path>
                    <path d="M17 4v16"></path>
                </svg>
            </button>
            <div class="sort-dropdown">
                <a href="/tasks?sort=name" class="sort-option">Name</a>
                <a href="/tasks?sort=date" class="sort-option">Date</a>
                <a href="/tasks?sort=status" class="sort-option">Status</a>
            </div>
        </div>
        <a href="/tasks/new" class="create-btn">
            Create
            <svg
                    class="lucide lucide-pencil"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                    height="24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"></path>
                <path d="m15 5 4 4"></path>
            </svg>
        </a>
    </div>

    <div class="tasks-container">
        {{range .}}
        <a href="/tasks/{{.ID}}" class="card">
            <div class="content">
                <p class="heading">{{.Title}}</p>
                <p class="para">
                    {{.Description}}<br>
                    Status: {{.Status}}<br>
                    Added time: {{.AddedTime}}<br>
                </p>
            </div>
        </a>
        {{end}}
    </div>
</main>
<script src="/js/tasks.js"></script>
</body>
</html>