<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/header_tasks.css"/>
    <link rel="stylesheet" href="/css/body_tasks.css"/>

    <link rel="shortcut icon" href="/img/logo2.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
    />
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="left-part__tasks">
                <div class="logo">
                    <img class="logo__img"
                         src="/img/logo2.png" alt=""/>
                    <span class="header__name">ToDoApp</span>
                </div>

                <div class="badge" href="#">
                    v1.1
                    <span></span>
                </div>
            </div>

            <div class="navigation-card">
                <a href="/tasks" class="tab">
                    <svg
                            class="svgIcon"
                            viewBox="0 0 104 100"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M100.5 40.75V96.5H66V68.5V65H62.5H43H39.5V68.5V96.5H3.5V40.75L52 4.375L100.5 40.75Z"
                                stroke="white"
                                stroke-width="5"
                        ></path>
                    </svg>
                </a>

                <a href="/account" class="tab">
                    <svg
                            width="104"
                            height="100"
                            viewBox="0 0 104 100"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect
                                x="21.5"
                                y="3.5"
                                width="60"
                                height="60"
                                rx="30"
                                stroke="white"
                                stroke-width="5"
                        ></rect>
                        <g clip-path="url(#clip0_41_27)">
                            <mask
                                    id="mask0_41_27"
                                    style="mask-type: luminance"
                                    maskUnits="userSpaceOnUse"
                                    x="0"
                                    y="61"
                                    width="104"
                                    height="52"
                            >
                                <path
                                        d="M0 113C0 84.2812 23.4071 61 52.1259 61C80.706 61 104 84.4199 104 113H0Z"
                                        fill="white"
                                ></path>
                            </mask>
                            <g mask="url(#mask0_41_27)">
                                <path
                                        d="M-7 113C-7 80.4152 19.4152 54 52 54H52.2512C84.6973 54 111 80.3027 111 112.749H97C97 88.0347 76.9653 68 52.2512 68H52C27.1472 68 7 88.1472 7 113H-7ZM-7 113C-7 80.4152 19.4152 54 52 54V68C27.1472 68 7 88.1472 7 113H-7ZM52.2512 54C84.6973 54 111 80.3027 111 112.749V113H97V112.749C97 88.0347 76.9653 68 52.2512 68V54Z"
                                        fill="white"
                                ></path>
                            </g>
                        </g>
                        <defs>
                            <clipPath id="clip0_41_27">
                                <rect
                                        width="104"
                                        height="39"
                                        fill="white"
                                        transform="translate(0 61)"
                                ></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
<main>
    <div id="element_x">
        <div class="overflow">
            {{range .}}
            <div class="card">
                <div class="content">
                    <p class="heading">{{.Title}}</p>
                    <p class="para">
                        {{.Description}}
                    </p>
                </div>
            </div>
            {{end}}


        </div>
    </div>

    <div id="element_y">
        <div class="card_settings">
            <ul
                    class="list"
                    style="--color:#5353ff;--hover-storke:#fff; --hover-color:#fff"
            >
                <li class="element">
                    <label for="create">
                        <input type="button" id="create" name="filed" checked=""/>
                        <svg
                                class="lucide lucide-pencil"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                                stroke-width="2"
                                stroke="#7e8590"
                                fill="none"
                                viewBox="0 0 24 24"
                                height="25"
                                width="25"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                            ></path>
                            <path d="m15 5 4 4"></path>
                        </svg>
                        <span>
                           Create task
                       </span> </label
                    >
                </li>
                <li class="element" style="--color:#5353ff">
                    <label class="label" for="export">
                        <input type="button" id="export" name="filed"/>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#7e8590"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-user-round-plus"
                        >
                            <path d="M12 13v8l-4-4"></path>
                            <path d="m12 21 4-4"></path>
                            <path
                                    d="M4.393 15.269A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.436 8.284"
                            ></path>
                        </svg>
                        <span>
                            Export
                        </span></label
                    >
                </li>

                <div class="separator"></div>
                <li
                        class="element"
                        style="--color:rgba(56, 45, 71, 0.836);--hover-storke:#bd89ff;--hover-color:#bd89ff"
                >
                    <label for="sortbyname">
                        <input type="button" id="sortbyname" name="filed"/>

                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#7e8590"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-users-round"
                        >
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#707277"
                                  d="M5 6C5 4.58579 5 3.87868 5.43934 3.43934C5.87868 3 6.58579 3 8 3H12.5789C15.0206 3 17 5.01472 17 7.5C17 9.98528 15.0206 12 12.5789 12H5V6Z"
                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#707277"
                                  d="M12.4286 12H13.6667C16.0599 12 18 14.0147 18 16.5C18 18.9853 16.0599 21 13.6667 21H8C6.58579 21 5.87868 21 5.43934 20.5607C5 20.1213 5 19.4142 5 18V12"></path>
                        </svg>
                        <span>Sort by name</span></label
                    >
                </li>
                <li
                        class="element"
                        style="--color:rgba(56, 45, 71, 0.836);--hover-storke:#bd89ff;--hover-color:#bd89ff"
                >
                    <label for="sortbydate">
                        <input type="button" id="sortbydate" name="filed"/>

                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#7e8590"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-users-round"
                        >
                            <path d="m3 16 4 4 4-4"></path>
                            <path d="M7 20V4"></path>
                            <path d="m21 8-4-4-4 4"></path>
                            <path d="M17 4v16"></path>
                        </svg>
                        <span>
                            Sort by date
                        </span> </label
                    >
                </li>
                <li
                        class="element"
                        style="--color:rgba(56, 45, 71, 0.836);--hover-storke:#bd89ff;--hover-color:#bd89ff"
                >
                    <label for="sortbystatus">
                        <input type="button" id="sortbystatus" name="filed"/>

                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#7e8590"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-users-round"
                        >
                            <path d="M18 21a8 8 0 0 0-16 0"></path>
                            <circle cx="10" cy="8" r="5"></circle>
                            <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"></path>
                        </svg>
                        <span>
                            Sort by status
                        </span> </label
                    >
                </li>
            </ul>

        </div>


    </div>
</main>

</body>
</html>
