<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/main2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <img class="logo" src="../static/img/logo2.png" alt="">
        <span class="header__name">ToDoApp</span>

        <nav class="menu">
          <ul class="menu__list">
            <li class="list__item">
              <a href="home.html" class="menu__link">Home</a>
            </li>
            <li class="list__item">
              <a href="login.html" class="menu__link">Go to app</a>
            </li>
            <li class="list__item">
              <a href="#" class="menu__link">About me</a>
            </li>
            <li class="list__item">
              <div class="badge" href="#">
                v1.1
                <span></span>
              </div>

            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>

  </main>
  <footer>

  </footer>
</body>

</html>