<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogIn</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/registration.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="logo">
          <img class="logo__img" src="../static/img/logo2.png" alt="">
          <span class="header__name">ToDoApp</span>
        </div>

        <nav class="menu">
          <ul class="menu__list">
            <li class="list__item">
              <a href="home.html" class="menu__link">Home</a>
            </li>
            <li class="list__item">
              <a href="login.html" class="menu__link">Go to app</a>
            </li>
            <li class="list__item">
              <a href="#" class="menu__link">About me</a>
            </li>
            <li class="list__item">
              <div class="badge" href="#">
                v1.1
                <span></span>
              </div>

            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <!-- <form class="form">
      <p class="title">Login </p>
      <p class="message">Signup now and get full access to our app. </p>
      <div class="flex">
        <label>
          <input class="input" type="text" placeholder="" required="">
          <span>Email or nickname</span>
        </label>
      </div>

      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Password</span>
      </label>
    
      <button class="submit">Submit</button>
      <p class="signin">Are you not registered? <a href="registration.html">Create an account</a> </p>
    </form> -->

     <div class="content">
         <div class="text">
            Login
         </div>
         <form action="#">
            <div class="field">
               <input required="" type="text" class="input">
               <span class="span"><svg class="" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512" y="0" x="0" height="20" width="50" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg"><g><path class="" data-original="#000000" fill="#595959" d="M256 0c-74.439 0-135 60.561-135 135s60.561 135 135 135 135-60.561 135-135S330.439 0 256 0zM423.966 358.195C387.006 320.667 338.009 300 286 300h-60c-52.008 0-101.006 20.667-137.966 58.195C51.255 395.539 31 444.833 31 497c0 8.284 6.716 15 15 15h420c8.284 0 15-6.716 15-15 0-52.167-20.255-101.461-57.034-138.805z"></path></g></svg></span>
               <label class="label">Email or Nickname</label>
            </div>
            <div class="field">
               <input required="" type="password" class="input">
               <span class="span"><svg class="" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512" y="0" x="0" height="20" width="50" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg"><g><path class="" data-original="#000000" fill="#595959" d="M336 192h-16v-64C320 57.406 262.594 0 192 0S64 57.406 64 128v64H48c-26.453 0-48 21.523-48 48v224c0 26.477 21.547 48 48 48h288c26.453 0 48-21.523 48-48V240c0-26.477-21.547-48-48-48zm-229.332-64c0-47.063 38.27-85.332 85.332-85.332s85.332 38.27 85.332 85.332v64H106.668zm0 0"></path></g></svg></span>
               <label class="label">Password</label>
            </div>
            <!-- <div class="forgot-pass">
               <a href="#">Forgot Password?</a>
            </div> -->
            <button class="submit__signin">Sign in</button>
            <div class="sign-up">
               Not a member?
               <a href="registration.html">Signup now</a>
            </div>
         </form>
      </div>
  </main>
  <footer>
    <hr>
    <div class="container__f">
      <div class="footer__inner">
        <div class="logo">
          <img class="logo__img" src="../static/img/logo1.png" alt="">
          <span class="logo__text">© 2024 Сommodum, Inc</span>
        </div>
        <div class="footer__buttons">
          <button class="button">
            <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
              <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
              <g id="SVGRepo_iconCarrier">
                <title>github</title>
                <rect fill="none" height="24" width="24"></rect>
                <path
                  d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z">
                </path>
              </g>
            </svg>
          </button>
          <button class="button">
            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill="#ffffff"
                  d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z">
                </path>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>