<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
  <link rel="stylesheet" href="../static/css/main__tasks.css">
  <link rel="stylesheet" href="../static/css/tasks.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="left-part__tasks">
          <div class="logo">
            <img class="logo__img" src="../static/img/logo2.png" alt="">
            <span class="header__name">ToDoApp</span>
          </div>

          <div class="badge" href="#">
            v1.1
            <span></span>
          </div>
        </div>

        <div class="navigation-card">
          <a href="home.html" class="tab">
            <svg class="svgIcon" viewBox="0 0 104 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100.5 40.75V96.5H66V68.5V65H62.5H43H39.5V68.5V96.5H3.5V40.75L52 4.375L100.5 40.75Z"
                stroke="white" stroke-width="5"></path>
            </svg>
          </a>

          <a href="#" class="tab">
            <svg width="104" height="100" viewBox="0 0 104 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="21.5" y="3.5" width="60" height="60" rx="30" stroke="white" stroke-width="5">
              </rect>
              <g clip-path="url(#clip0_41_27)">
                <mask id="mask0_41_27" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="61" width="104"
                  height="52">
                  <path d="M0 113C0 84.2812 23.4071 61 52.1259 61C80.706 61 104 84.4199 104 113H0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask0_41_27)">
                  <path
                    d="M-7 113C-7 80.4152 19.4152 54 52 54H52.2512C84.6973 54 111 80.3027 111 112.749H97C97 88.0347 76.9653 68 52.2512 68H52C27.1472 68 7 88.1472 7 113H-7ZM-7 113C-7 80.4152 19.4152 54 52 54V68C27.1472 68 7 88.1472 7 113H-7ZM52.2512 54C84.6973 54 111 80.3027 111 112.749V113H97V112.749C97 88.0347 76.9653 68 52.2512 68V54Z"
                    fill="white"></path>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_41_27">
                  <rect width="104" height="39" fill="white" transform="translate(0 61)"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>


        </div>

      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="tasks__inner">
        <div class="task">
          <div class="content">
            <p class="heading">Доработать Rest Api сервис</p>
            <p class="para">
              Интегрировать настоящую базу данных.
            </p>
            <p class="para para-sm">Jan 1, 2024</p>
          </div>
        </div>

        <div class="card">
          <ul class="list">
            <li class="item favorite">
              <input type="checkbox" class="input" />
              <span class="label">Add favorite</span>
              <span class="label fav-label">Remove from favorite</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-star">
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                </polygon>
              </svg>
            </li>
            <li class="item rename">
              <span class="label">Edit Name</span>
              <input class="toogler" type="checkbox" />
              <label class="input-container">
                <input class="input" type="text" />
                <div class="icons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-check">
                    <path d="M20 6 9 17l-5-5"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-x">
                    <path d="M18 6 6 18"></path>
                    <path d="m6 6 12 12"></path>
                  </svg>
                </div>
              </label>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-pencil">
                <path
                  d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z">
                </path>
                <path d="m15 5 4 4"></path>
              </svg>
            </li>
          </ul>
          <div class="separator"></div>
          <ul class="list">
            <li class="item">
              <span class="label">New Deployment</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-cloud-download">
                <path d="M12 13v8l-4-4"></path>
                <path d="m12 21 4-4"></path>
                <path d="M4.393 15.269A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.436 8.284"></path>
              </svg>
            </li>
            <li class="item">
              <span class="label">Duplicate</span>
              <svg class="lucide lucide-copy-plus" stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5"
                stroke="currentColor" fill="none" viewBox="0 0 24 24" height="22" width="22"
                xmlns="http://www.w3.org/2000/svg">
                <line y2="18" y1="12" x2="15" x1="15"></line>
                <line y2="15" y1="15" x2="18" x1="12"></line>
                <rect ry="2" rx="2" y="8" x="8" height="14" width="14"></rect>
                <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
              </svg>
            </li>
            <li class="item">
              <span class="label">Analytics</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chart-spline">
                <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
                <path d="M7 16c.5-2 1.5-7 4-7 2 0 2 3 4 3 2.5 0 4.5-5 5-7"></path>
              </svg>
            </li>
            <li class="item">
              <span class="label">Transfer Project</span>
              <svg class="lucide lucide-arrow-down-up" stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5"
                stroke="currentColor" fill="none" viewBox="0 0 24 24" height="22" width="22"
                xmlns="http://www.w3.org/2000/svg">
                <path d="m3 16 4 4 4-4"></path>
                <path d="M7 20V4"></path>
                <path d="m21 8-4-4-4 4"></path>
                <path d="M17 4v16"></path>
              </svg>
            </li>
            <li class="item">
              <span class="label">Project Settings</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-settings">
                <path
                  d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z">
                </path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            </li>
          </ul>
          <div class="separator"></div>
          <ul class="list">
            <li class="item delete">
              <span class="label">Delete Project</span>
              <span class="label action">Hold to Confirm</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-trash-2">
                <path d="M3 6h18"></path>
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                <line x1="10" x2="10" y1="11" y2="17"></line>
                <line x1="14" x2="14" y1="11" y2="17"></line>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>

</html>